@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	border:0px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.submit_btn{cursor: pointer;margin: 0px 1px 0px 0px; padding: 2px 8px 2px 8px;  font-family: "微软雅黑"; background-color: #02e207; color: #555555; font-size: 15px;}
.normal_btn{cursor: pointer;margin: 0px 6px 0px 0px; padding: 2px 8px 2px 8px;  font-family: "微软雅黑"; color: #666666; font-size: 15px; background-color: #dddddd;}
ul{ list-style:none}
.top {
	height: 122px;
	width: 100%;
}
.top .header-main.center.ease2 {
	height: 110px;
	float: left;
	width: 80%;
}
.top .logo {
	float: left;
	height: 122px;
	width: 122px;
}
.top .header-main.center.ease2 .slogan img {
	height: 61px;
	width: 179px;
	padding-top: 25px;
	padding-left: 15px;
	float: left;
}
.top .header-main.center.ease2 .search-box-wr.ease2 {
	height: 85px;
	width: 540px;
	float: left;
	padding-top: 30px;
	padding-left: 92px;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-box {
	height: 52px;
	width: 540px;
	float: left;
	border: thin solid #44C1A5;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-box .search-submit {
	height: 52px;
	width: 130px;
	background-repeat: no-repeat;
	float: right;
	background-color: #4BC0A5;
	color: #FFF;
	font-size: 16px;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-hots.center.ease2 .hots {
	font-size: 13px;
	color: #858D8E;
	text-decoration: none;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-hots.center.ease2 span {
	font-size: 13px;
	color: #56C4AA;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-box .input-wr .search-input #keyword {
	height: 30px;
	width: 358px;
	color: #4BC0A5;
	outline:none;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-box .input-wr .search-icon {
	float: left;
	height: 24px;
	width: 24px;
	padding-top: 4px;
	padding-left: 3px;
	padding-right: 10px;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-box .input-wr {
	padding-top: 10px;
}
.top .header-main.center.ease2 .log-reg.ease2 {
	height: 108px;
	width: 250px;
	float: left;
	padding-top: 5px;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-hots.center.ease2 {
	width: 520px;
	height: 16px;
	float: left;
	padding-top: 12px;
}
.top .header-main.center.ease2 .log-reg.ease2 .button {
	float: left;
	height: 34px;
	width: 70px;
	text-align: center;
	line-height: 2.0;
	color: #4bc0a5;
	cursor:pointer;
}


.container {
	height: auto;
	width: 850px;
	margin-right: auto;
	margin-left: 244px;
	padding-top: 170px;
}
.top .Search {
	float: left;
}

.container .label-wr.center.clearfix {
	height: 40px;
	width: 840px;
	margin-bottom: 15px;
}
.container .label-wr.center.clearfix #nav-labels {
	height: 35px;
	width: 98px;
	font-size: 16px;
	line-height: 2.1;
	text-indent: 17px;
	float: left;
	background-color: #4BC0A5;
}
.container .label-wr.center.clearfix #link-labels {
	float: left;
	height: 25px;
	width: 85px;
	line-height: 1.6;
	text-indent: 8px;
	margin-top: 8px;
	background-color: #4BC0A5;
}
.container .label-wr.center.clearfix #nav-labels a {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
}
.container .label-wr.center.clearfix #link-labels a {
	text-decoration: none;
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
}

.container .label-wr.center.clearfix span {
	width: 100%;
	border-top-width: thin;
	border-top-style: dashed;
	border-top-color: #4BC0A5;
	display: block;
}
.container .label-wr.center.clearfix .lin {
	float: left;
	width: 640px;
	margin-top: 20px;
}
.container ul li span {
	float: right;
}
.container ul .item {
	height: 267px;
	width: 200px;
	overflow: hidden;
	float: left;
	margin-bottom: 20px;
	padding-right: 8px;
	position: relative;
	margin-right: 1px;
}
.container ul .item .info {
	height: 60px;
	width: 200px;
	background-color: #FFF;
}
.container ul .item .info .name {
	text-indent: 10px;
	width: 200px;
	padding-top: 5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
}
.container ul .item .info .name a {
	font-size: 16px;
	text-decoration: none;
	color: #4BC0A5;
	padding-top: 10px;
}
.container ul .item .info .department {
	float: left;
	height: 20px;
	width: 90px;
	text-align: left;
	padding-top: 8px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
	color: #858D8E;
	font-size: 13px;
	padding-left: 8px;
}
.container ul .item .info .department span {
	float: left;
	padding-left: 10px;
	font-size: 12px;
	color: #858D8E;
}
.container ul .item .info .place {
	height: 20px;
	padding-top: 8px;
	float: right;
	width: 90px;
	padding-right: 5px;
	font-size: 13px;
	color: #858D8E;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
}
.container ul .item .info .place span {
	font-size: 12px;
	color: #858D8E;
}.body {
	background-color: #E3EEEC;
	position: relative;
}

.body .container .Page.number {
	width: 840px;
	height: 40px;
	float: left;
	margin-bottom: 80px;
	margin-top: 35px;
	padding-left: 200px;
}
.body .botton {
	height: 200px;
	width: 100%;
	clear: both;
	background-image: url(../image/footer-bg.png);
	background-repeat: no-repeat;
	background-position: -150px;
}
.body .container .Page.number .page-num.cur {
	height: 40px;
	width: 40px;
	float: left;
	background-color: #ffc500;
	text-decoration: none;
	line-height: 2.4;
	text-align: center;
	margin-right: 10px;
	color: #FFF;
}
.body .container .Page.number .page-arrow {
	float: left;
	height: 40px;
	width: 88px;
	line-height: 2.4;
	text-decoration: none;
	color: #FFF;
	background-image: url(../image/page-arrow.png);
	background-repeat: no-repeat;
	background-position: -10px -60px;
	text-indent: 10px;
}
.body .botton .bottons a {
	display: inline;
	float: left;
}
.body .botton .bottons {
	height: 40px;
	width: 100%;
	text-align:center;
	text-decoration: none;
}
.body .botton .bottons h3 {
	color: #00AD90;
}
.body .botton .Link {
	text-align: center;
	padding-top: 25px;
}
.body .botton .Link h3 {
	color: #00AD90;
	display: block;
	padding-bottom: 10px;
}
.body .botton .Link a {
	text-decoration: none;
	color: #666666;
	font-size: 15px;
}
.body .botton .Link span {
	padding-right: 15px;
	padding-left: 15px;
}
.body .botton .Feedback {
	height: 40px;
}
.body .botton .Feedback {
	text-align: center;
	padding-top: 35px;
}
.body .botton .Feedback a {
	text-decoration: none;
	color: #858E8F;
	font-size: 13px;
}
.body .botton .Feedback span {
	font-size: 12px;
	color: #858E8F;
	display: block;
	padding-top: 7px;
}
.body .container ul .item a img {
	height: 200px;
	width: 200px;
	overflow: hidden;
}
.body .left {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #0F0;
	width: 50px;
	height: 1000px;
}
.body .right {
	width: 88%;
}
.body .Navigation {
	float: left;
	height: 1685px;
	width: 122px;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #E4E7E6;
	background-color: #FFF;
	clear: both;
	margin-top: 120px;
	
}
.body .Navigation .area div .nav-icons {
	background-image: url(../image/location.png);
	background-repeat: no-repeat;
	height: 34px;
	width: 122px;
	background-position: 50px;
	padding-top: 15px;
}
.body .Navigation .area {
	height: 122px;
	width: 122px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #E3EEEC;
	text-align: center;
}
.body .Navigation ul .area div #college span {
	font-size: 14px;
	color: #FFB200;
	font-weight: bold;
}
.body .Navigation ul .area div #college {
	padding-top: 20px;
}
.body .Navigation ul .area div .switch {
	display: block;
	padding-top: 15px;
	font-size: 13px;
	color: #00947F;
}
.body .Navigation ul .category-1.catg {
	height: 70px;
	width: 122px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #e3eeec;
	background-color: #FFF;
	position: relative;
}
.body .Navigation ul .category-1.catg a .nav-icons {
	height: 29px;
	width: 31px;
	float: left;
	padding-left: 12px;
}
.body .Navigation ul .category-1.catg .sub-nav {
	background-color: #00AC90;
	position: absolute;
	top: 0px;
	right: -240px;
	padding-top: 0px;
	padding-right: 16px;
	padding-bottom: 0px;
	padding-left: 16px;
	height: 70px;
	width: 208px;
	z-index: 2;
	display: none;
}
.body .Navigation ul .category-1.catg a h3 {
	display: block;
	height: 31px;
	width: 65px;
	float: left;
	font-size: 14px;
	line-height: 1.8;
	padding-left: 5px;
	color: #666666;
	}
	
.body .Navigation ul .category-1.catg a {
	display: block;
	height: 31px;
	padding-top: 20px;
}.body .Navigation ul li {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #E3EEEC;
}
.body .Navigation ul .category-2.catg {
	height: 70px;
	width: 122px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #e3eeec;
	background-color: #FFF;
}


.body .Navigation ul li a .nav-icons {
	height: 29px;
	width: 31px;
	float: left;
	padding-left: 12px;
}
.body .Navigation ul li a h3 {
	display: block;
	height: 31px;
	width: 65px;
	float: left;
	font-size: 14px;
	line-height: 1.8;
	padding-left: 5px;
	color: #666666;
	}
	
.body .Navigation ul li a {
	display: block;
	height: 48px;
	padding-top: 20px;
}.body .Navigation ul li {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #E3EEEC;
	height: 70px;
}.body .Navigation ul .category-3.catg .sub-nav {
	visibility: hidden;
}

.body .top {
	width: 1350px;
	height: 122px;
	background-color: #FFF;
	position: fixed;
	z-index: 5;
}
.body .top .header-main.center.ease2 .search-box-wr.ease2 .search-box .search-submit:hover {
}
.body .top .header-main.center.ease2 .log-reg.ease2 .button:hover {
	border: thin solid #4BC0A5;
}
.body .top .header-main.center.ease2 .search-box-wr.ease2 .search-hots.center.ease2 .hots:hover {
	color: #F00;
}

.body .container ul .item .info .name a:hover {
	color: #F00;
}
.body .container .Page.number .page-num.cur:hover {
	background-color: #4BC0A5;
}
.body .container .Page.number .page-arrow:hover {
	background-image: url(../image/page-arrow.png);
	background-repeat: no-repeat;
	background-position: -10px -160px;
}
.body .botton .Link a:hover {
	color: #F00;
}
.body .container .label-wr.center.clearfix #nav-labels:hover {
	background-color: #00AD91;
}

.body .container .label-wr.center.clearfix #link-labels:hover {
	background-color: #00AD91;
}
.body .container ul .item .info .price {
	height: 30px;
	width: 57px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	background-color: #EB5055;
	position: absolute;
	top: 5px;
	right: -5px;
	color: #FFF;
}
.body .Navigation ul .category-1.catg .sub-nav span a {
	height: 21px;
	width: 36px;
	float: left;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	margin-right: 10px;
}
.body .Navigation ul .category-1.catg .sub-nav span a:hover {
	color: #FFB200;
}
.body .Navigation ul .category-1.catg .sub-nav span {
	margin-top: 5px;
	display: block;
}
.body .container .label-wr.center.clearfix .time {
	height: 40px;
	width: 12%;
	padding-left: 37%;
	color: #00AC90;
	font-size: 22px;
	font-weight: bold;
	float: left;
	padding-top: 2px;
}
.body .container .label-wr.center.clearfix .Integral {
	height: 40px;
	width: 12%;
	float: left;
	font-size: 20px;
	font-weight: bold;
	color: #00AC90;
}
.body .container .label-wr.center.clearfix .Price {
	float: left;
	height: 40px;
	width: 12%;
	font-size: 20px;
	font-weight: bold;
	color: #00AC90;
}
.body .container .label-wr.center.clearfix .heat {
	float: left;
	height: 40px;
	width: 12%;
	font-size: 20px;
	font-weight: bold;
	color: #00AC90;
}

.body .top .header-main.center.ease2 .log-reg.ease2 #login-bar form input {
	height: 21px;
	margin: 5px 6px 5px 0px;
	padding: 2px 0px 2px 4px;
	font-size: 16px;
	font-family: "微软雅黑";
	width: 200px;
	border: 1px solid #4BC0A5;
	width: 200px;
}
.body .top .header-main.center.ease2 .log-reg.ease2 #login-bar form input {
	height: 21px;
	margin: 5px 6px 5px 0px;
	padding: 2px 0px 2px 4px;
	font-size: 16px;
	font-family: "微软雅黑";
	width: 200px;
	border: 1px solid #4BC0A5;
	width: 200px;
}
.body .top .header-main.center.ease2 .log-reg.ease2 #login-bar form .submit_btn {
	background-color: #4BC0A5;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
}
.body .top .header-main.center.ease2 .log-reg.ease2 #login-bar form .submit_btn:hover {
	background-color: #00AC90;
	
}
.body .top .header-main.center.ease2 .log-reg.ease2 #login-bar form .normal_btn:hover {
	background-color: #00AC90;
	}
.body .top .header-main.center.ease2 .log-reg.ease2 #login-bar form .normal_btn {
	background-color: #4BC0A5;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #FFF;
	margin-left: 5px;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
}
.body .top .header-main.center.ease2 .log-reg.ease2 #login-bar #login-msg .light_pink {
	color: #F07D67;
}
.body .top .header-main.center.ease2 .log-reg.ease2 #login-bar {
	padding-left: 20px;
	margin-top: 1px;
}
.body .container .Page.number .page-arrow.arrow-left {
	background-image: url(../image/page-arrow.png);
	background-repeat: no-repeat;
	background-position: -10px -10px;
	padding-left: 10px;
	line-height: 2.6;
}
.body .container .Page.number .page-arrow.arrow-left:hover {
	background-image: url(../image/page-arrow.png);
	background-repeat: no-repeat;
	background-position: -10px -110px;
}                                                                                      
.body .container .ershou-details {
	height: 560px;
	width: 850px;
}
.body .container .ershou-details .ershou-photos {
	float: left;
	height: 560px;
	width: 560px;
	position: relative;
	background-color: #FFF;
}
.body .container .ershou-details .ershou-info {
	height: 560px;
	width: 290px;
	float: left;
	background-color: #FFF;
}
.body .container .ershou-desc {
	height: 112px;
	width: 840px;
}
.body .container .ershou-desc {
	margin-top: 20px;
	padding-top: 30px;
	padding-right: 90px;
	padding-bottom: 30px;
	padding-left: 90px;
	background-color: #FFF;
	background-image: url(../image/info.png);
	background-repeat: no-repeat;
	background-position: 12px 12px;
	text-align: left;
	height: 112px;
	width: 660px;
}
.body .container .comentes {
	height: 146px;
	width: 420px;
	background-color: #FFF;
	margin-top: 20px;
	padding-top: 54px;
	padding-right: 0px;
	padding-bottom: 25px;
	padding-left: 15px;
	margin-bottom: 20px;
	position: relative;
}
.comments-title {
	position: absolute;
	left: -5px;
	top: 5px;
	width: 88px;
	height: 34px;
	/*padding: 9px 27px;*/
    background-color: #4BC0A5;
	color: #FFF;
	font-size: 1.5em;
	text-indent: -9999em;
	background-image: url(../image/comment.png);
	background-repeat: no-repeat;
}
.body .container .ershou-details .ershou-photos .bigger-photo-box {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.bigger-photo-box .bigger {
	background-position: middle;
	max-width:100%;
}
.ershou-details .ershou-photos .ershou-photo-slide {
	text-align: center;
	height: 80px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	z-index: 3;

}.ershou-small-pthots .small.cur {
	
	height:60px;
	width:60px;
	cursor:pointer;
	vertical-align:middle;
}

.ershou-photos .ershou-photo-slide .ershou-small-pthots {
	height: 80px;
	width: 70px;
	display:inline-block;
	zoom:1;
	text-align:center;
	line-height:80px;
}
.ershou-details .ershou-info .ershou-hd {
	width: 230px;
	height: 76px;
	padding-bottom:30px;
	border-bottom:dashed 1px #E3EEEC;
	position:relative;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
}
.ershou-hd .ershou-price.discount span h3 {
	display: block;
	float: left;
	margin-right: 15px;
}
.ershou-info .ershou-hd .ershou-title {
	color: #1C826C;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    word-break: break-all;
    padding-right: 33px;
}
.ershou-info .ershou-hd .ershou-price.discount {
	color: #EB5055;
	width: 230px;
	font-size: 1.8em;
}
.ershou-hd .ershou-price.discount .is-discount {
	font-size: 12px;
	color: #666;
	display:inline;
	vertical-align:middle;
	margin-left:15px;
}
.ershou-info .ershou-detail {
	 padding: 14px 25px 20px;
    font-size: 1.16em;
    list-style: none;
}
.ershou-detail li {
    /*height: 30px;*/
    margin-top: 16px;
}
.ershou-detail li .name {
	float: left;
	width: 70px;
	height: 31px;
	line-height: 32px;
	background-color: #4BC0A5;
	color: #FFF;
	font-size: 15px;
	padding-right: 10px;
	text-align: right;
}
.ershou-detail li .value {
	line-height: 35px;
	/*padding: 7px 0;*/
    color: #666666;
	width: 165px;
	height: 31px;
	font-size: 15px;
	margin-left: 90px;
}

.ershou-info .ershou-detail .ershou-place a .value {
	color: #4BC0A5;
}
.ershou-detail .ershou-place a .value:hover {
	color: #C90;
}

.ershou-detail .ershou-place .value span {
	height: 30px;
	width: 150px;
}
#user_ph{
    float: left;
    margin-right:  20px;
    width: 52px;
    height: 52px;
    vertical-align: middle;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
#user_cmt{
    float: right;
    width: 667px;
}
.body .container .ershou-desc .desc.clearfix {
	width: 670px;
	height: 52px;
}
.ershou-desc .desc.clearfix #user_cmt {
	height: 52px;
	width: 598px;
	line-height: 25px;
	font-size: 15px;
	color: #666666;
}
.ershou-photo-slide .ershou-small-pthots .small:hover {
	border: 2px solid #4BC0A5;
}
.comentes .comments-wr {
	height: 62px;
	width: 406px;
	.comments-wr{
    position: relative;
    top: -20px;
    margin-left: 21px;
    border-left: 1px solid #4BC0A5;
}
.comment-wr{
    position: relative;
    left: -26px;
    top: 20px;
}