@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	border:0px;
}
ul{ list-style:none}
.top {
	height: 122px;
	width: 100%;
}
.top .header-main.center.ease2 {
	height: 110px;
	float: left;
	width: 80%;
}
.top .logo {
	float: left;
	height: 122px;
	width: 122px;
}
.top .header-main.center.ease2 .slogan img {
	height: 61px;
	width: 179px;
	padding-top: 25px;
	padding-left: 15px;
	float: left;
}
.top .header-main.center.ease2 .search-box-wr.ease2 {
	height: 85px;
	width: 540px;
	float: left;
	padding-top: 30px;
	padding-left: 92px;
	padding-right: 20px;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-box {
	height: 52px;
	width: 540px;
	float: left;
	border: thin solid #44C1A5;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-box .search-submit {
	height: 52px;
	width: 130px;
	background-repeat: no-repeat;
	float: right;
	background-color: #4BC0A5;
	color: #FFF;
	font-size: 16px;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-hots.center.ease2 .hots {
	font-size: 13px;
	color: #858D8E;
	text-decoration: none;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-hots.center.ease2 span {
	font-size: 13px;
	color: #56C4AA;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-box .input-wr .search-input #keyword {
	height: 30px;
	width: 358px;
	color: #4BC0A5;
	outline:none;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-box .input-wr .search-icon {
	float: left;
	height: 24px;
	width: 24px;
	padding-top: 4px;
	padding-left: 3px;
	padding-right: 10px;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-box .input-wr {
	padding-top: 10px;
}
.top .header-main.center.ease2 .log-reg.ease2 {
	height: 50px;
	width: 142px;
	float: left;
	padding-top: 45px;
	padding-left: 108px;
}
.top .header-main.center.ease2 .search-box-wr.ease2 .search-hots.center.ease2 {
	width: 520px;
	height: 16px;
	float: left;
	padding-top: 12px;
}
.top .header-main.center.ease2 .log-reg.ease2 .button {
	float: left;
	height: 34px;
	width: 70px;
	text-align: center;
	line-height: 2.0;
	color: #4bc0a5;
	cursor:pointer;
}


.body .top {
	width: 1400px;
	height: 122px;
	position: fixed;
	z-index: 5;
	background-color: #FFF;
}
.body .top .header-main.center.ease2 .search-box-wr.ease2 .search-box .search-submit:hover {
}
.body .top .header-main.center.ease2 .log-reg.ease2 .button:hover {
	border: thin solid #4BC0A5;
}
.body .top .header-main.center.ease2 .search-box-wr.ease2 .search-hots.center.ease2 .hots:hover {
	color: #F00;
}

.body .container ul .item .info .name a:hover {
	color: #F00;
}
.body .container .Page.number .page-num.cur:hover {
	background-color: #4BC0A5;
}
.body .container .Page.number .page-arrow:hover {
	background-image: url(../image/page-arrow.png);
	background-repeat: no-repeat;
	background-position: -10px -160px;
}
.body .botton .Link a:hover {
	color: #F00;
}
.body .container .label-wr.center.clearfix #nav-labels:hover {
	background-color: #00AD91;
}

.body .container .label-wr.center.clearfix #link-labels:hover {
	background-color: #00AD91;
}
.body .container ul .item .info .price {
	height: 30px;
	width: 57px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	background-color: #EB5055;
	position: absolute;
	top: 5px;
	right: -5px;
	color: #FFF;
}
.body .Navigation ul .category-1.catg .sub-nav span a {
	height: 21px;
	width: 36px;
	float: left;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	margin-right: 10px;
}

.body .Navigation ul .category-1.catg .sub-nav span a:hover {
	color: #FFB200;
}
.body .Navigation ul .category-1.catg .sub-nav span {
	margin-top: 5px;
	display: block;
}
.body .Navigation ul .category-3.catg .sub-nav span {
	margin-top: 5px;
	display: block;
}
.body .Navigation ul .category-3.catg .sub-nav span a {
	height: 21px;
	width: 36px;
	float: left;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	margin-right: 10px;
}
.body .Navigation ul .category-3.catg .sub-nav span a:hover {
	color: #FFB200;
}
.body .Navigation ul .category-4.catg .sub-nav span a:hover {
	color: #FFB200;
}
.body .Navigation ul .category-5.catg .sub-nav span a:hover {
	color: #FFB200;
}
.body .Navigation ul .category-6.catg .sub-nav span a:hover {
	color: #FFB200;
}
.body .Navigation ul .category-7.catg .sub-nav span a:hover {
	color: #FFB200;
}
.body .Navigation ul .category-8.catg .sub-nav span a:hover {
	color: #FFB200;
}
.body .Navigation ul .category-9.catg .sub-nav span a:hover {
	color: #FFB200;
}
.body .Navigation ul .category-10.catg .sub-nav span a:hover {
	color: #FFB200;
}
.body .Navigation ul .category-11.catg .sub-nav span a:hover {
	color: #FFB200;
}
.body .Navigation ul #category-4 catg {
	position: relative;
}

.body .Navigation ul .category-4.catg .sub-nav {
	background-color: #00AC90;
	position: absolute;
	top: 0px;
	right: -240px;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 0px;
	padding-left: 16px;
	height: 62px;
	width: 208px;
	z-index: 2;
	display: none;
}
.body .Navigation ul .category-5.catg .sub-nav {
	background-color: #00AC90;
	position: absolute;
	top: 0px;
	right: -240px;
	padding-top: 10px;
	padding-right: 16px;
	padding-bottom: 0px;
	padding-left: 16px;
	height: 60px;
	width: 208px;
	z-index: 2;
	display: none;
}
.body .Navigation ul .category-6.catg .sub-nav {
	background-color: #00AC90;
	position: absolute;
	top: 0px;
	right: -240px;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 0px;
	padding-left: 16px;
	height: 62px;
	width: 208px;
	z-index: 2;
	display: none;
}
.body .Navigation ul .category-7.catg .sub-nav {
	background-color: #00AC90;
	position: absolute;
	top: 0px;
	right: -240px;
	padding-right: 16px;
	padding-bottom: 0px;
	padding-left: 16px;
	height: 55px;
	width: 208px;
	z-index: 2;
	display: none;
	padding-top: 15px;
}
.body .Navigation ul .category-8.catg .sub-nav {
	background-color: #00AC90;
	position: absolute;
	top: 0px;
	right: -240px;
	padding-top: 10px;
	padding-right: 16px;
	padding-bottom: 0px;
	padding-left: 16px;
	height: 60px;
	width: 208px;
	z-index: 2;
	display: none;
}
.body .Navigation ul .category-9.catg .sub-nav {
	background-color: #00AC90;
	position: absolute;
	top: 0px;
	right: -240px;
	padding-top: 15px;
	padding-right: 16px;
	padding-bottom: 0px;
	padding-left: 16px;
	height: 55px;
	width: 208px;
	z-index: 2;
	display: none;
}
.body .Navigation ul .category-10.catg .sub-nav {
	background-color: #00AC90;
	position: absolute;
	top: 0px;
	right: -240px;
	padding-top: 15px;
	padding-right: 16px;
	padding-bottom: 0px;
	padding-left: 16px;
	height: 55px;
	width: 208px;
	z-index: 2;
	display: none;
}
.body .Navigation ul .category-11.catg .sub-nav {
	background-color: #00AC90;
	position: absolute;
	top: 0px;
	right: -240px;
	padding-top: 15px;
	padding-right: 16px;
	padding-bottom: 0px;
	padding-left: 16px;
	height: 55px;
	width: 208px;
	z-index: 2;
	display: none;
}
.body .Navigation ul .category-4.catg .sub-nav span a {
	height: 20px;
	width: 55px;
	float: left;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	text-align: left;
}
.body .Navigation ul .category-5.catg .sub-nav span a {
	height: 20px;
	width: 55px;
	float: left;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	text-align: left;
}
.body .Navigation ul .category-6.catg .sub-nav span a {
	height: 20px;
	width: 55px;
	float: left;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	text-align: left;
}
.body .Navigation ul .category-7.catg .sub-nav span a {
	height: 20px;
	width: 55px;
	float: left;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	text-align: left;
}
.body .Navigation ul .category-8.catg .sub-nav span a {
	height: 20px;
	width: 55px;
	float: left;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	text-align: left;
}
.body .Navigation ul .category-9.catg .sub-nav span a {
	height: 20px;
	width: 55px;
	float: left;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	text-align: left;
}
.body .Navigation ul .category-10.catg .sub-nav span a {
	height: 20px;
	width: 55px;
	float: left;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	text-align: left;
}
.body .Navigation ul .category-11.catg .sub-nav span a {
	height: 20px;
	width: 55px;
	float: left;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	text-align: left;
}

.body .top .header-main.center.ease2 #login-bar {
	float: left;
	width: 18%;
	height: 85px;
	padding-top: 5px;
}
.body .top .header-main.center.ease2 #login-bar form input {
	height: 21px;
	margin: 5px 6px 5px 0px;
	padding: 2px 0px 2px 4px;
	font-size: 16px;
	font-family: "微软雅黑";
	width: 200px;
	border: 1px solid #4BC0A5;
	width: 200px;
	color: #4BC0A5;
}
.body .top .header-main.center.ease2 #login-bar #login-msg {
	color: #F00;
}
.body .top .header-main.center.ease2 #login-bar form .submit_btn {
	cursor: pointer;
	margin: 0px 6px 0px 0px;
	padding: 2px 8px 2px 8px;
	font-family: "微软雅黑";
	color: #FFF;
	font-size: 15px;
	background-color: #4BC0A5;
	text-decoration: none;
}
.body .top .header-main.center.ease2 #login-bar form .normal_btn {
	cursor: pointer;
	margin: 0px 6px 0px 0px;
	padding: 2px 8px 2px 8px;
	font-family: "微软雅黑";
	color: #FFF;
	font-size: 15px;
	background-color: #4BC0A5;
	text-decoration: none;
}
.body .top .header-main.center.ease2 #login-bar form .submit_btn:hover {
	background-color: #00AC90;
}
.body .top .header-main.center.ease2 #login-bar form .normal_btn:hover {
	background-color: #00AC90;
}
.body {
	background-color: #E3EEEC;
}
.body .jj {
	background-color: #F00;
	height: 100px;
	width: 100px;
}
.body #main h3 {
	text-align: center;
	width: 840px;
	color: #4BC0A5;
	padding-bottom: 20px;
	font-size: 20px;
}
.body #main #register_form {
	padding-left: 150px;
}
.body #main #register_form select {
	width: 205px;
	margin-bottom: 10px;
	border: thin solid #44C1A5;
	height: 28px;
	margin-right: 5px;
}
.body #main {
	width: 840px;
	margin-right: auto;
	margin-left: auto;
}
.body #main .clearfix {
	height: 220px;
	width: 840px;
	padding-top: 173px;
}
.body #main .clearfix #user_msg {
	float: right;
	height: 220px;
	width: 620px;
	background-color: #FFF;
}

#user_photo{
	position: relative;
	background: #F6F9F9;
	padding: 20px;
	width: 180px;
	height: 180px;
}
#user_photo img{
	width: 180px;
	height: 180px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    cursor: pointer;
}
.name{
	font-family: "Microsoft YaHei";
	font-size: 24px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.seller_attr{
    border-left: 4px solid #00ac90;
    margin-top: 22px;
    margin-left: 20px;
    padding-left: 20px;
}
.seller_attr>li{
    color: #00ac90;
    font-size: 14px;
    line-height: 120%;
    padding:6px 0;
    list-style: none;
}
.body #main .clearfix #user_msg .has_sell {
	font-family: "Microsoft YaHei";
	display: block;
	padding-left: 20px;
	font-size: 16px;
	color: #878787;
}
#middle_nav{
	background: #fff;
	border-top: 4px solid #00AC90;
	height: 55px;
	margin-top:  50px;
}#middle_nav li{
	float: left;
	list-style: none;
	height: 100%;
	width: 184px;
}
#middle_nav li a{
	display: block;
	height: 55px;
	color: #444;
	font: 16px/54px "Microsoft YaHei";
	text-decoration: none;
	text-align: center;
}
#middle_nav li:hover{
	background: #00AC90; 
}
#middle_nav li:hover a{
	color: #fff;
}#middle_nav li.on{
	background: #00AC90; 
}
#middle_nav li.on a{
	color: #fff;
}.body #main #my_products {
	width: 840px;
	height: auto;
	margin-top: 20px;
}
.enshr_each{
	background: #fff;
	height: 140px;
	margin-top: 10px;
}
.enshr_ph{
	width: 140px;
	height: 140px;
}
.enshr_ph:hover{
	opacity: .85;
}
.enshr_info{
	position: relative;
	float: right;
	width: 640px;
	padding: 20px;
}
.enshr_info_price{
    color: #ed4e51;
    font-size: 16px;
    float: right;
    margin-right: 48px;
}
.enshr_info_address{
	color: #858E8F;
	font-size: 12px;
	padding-left: 22px;
	background-image: url(../image/rank-icons.png);
	background-repeat: no-repeat;
	background-position: -10px -12px;
	display: inline-block;
	height: 20px;
}
.enshr_info h2 {
	margin-bottom: 10px;
}
.enshr_info h2 a{
	color: #1b816c;
	font: 14px "Microsoft YaHei";
	text-decoration: none;
}
.enshr_info h2 a:hover{
	color: #EB5055;
}
.enshr_info p{
	color: #666;
	font: 12px "Microsoft YaHei";
	margin-bottom: 10px;
	height: 35px;
	overflow: auto;
}
.enshr_state{
	position: absolute;
	bottom: -18px;
	width: 668px;
	left: 12px;
}
.body .botton {
	height: 200px;
	width: 100%;
	clear: both;
	background-image: url(../image/footer-bg.png);
	background-repeat: no-repeat;
	background-position: -150px;
	margin-top: 20px;
}
.body .botton .Feedback {
	text-align: center;
	padding-top: 120px;
	text-decoration: none;
	color: #858E8F;
	font-size: 13px;
}
